

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.App-container{
  display: flex;
  justify-content: center;
}

.results{
  min-width: 50vw;
  background-color: #646465;

}

.Movie-info {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* text-shadow: 2px 2px 4px #000000; */
 
}

.Movie-info img{ 
  border: green 4px dashed;
}

.Movie-info h1 {
  color: white;
}

.BorderA{
  border: red dotted 5px;
}

.fade-in {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 5s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
